@media screen and (max-width: 800px) {
     .first-leftdiv .nav{
      display: none;
     }



     .section .first-leftdiv {
       width: 100%;
        padding-bottom: 80px;
        /* height: 50px; */
        /* border: 3px solid black; */
        background-image: url("./header.png");
        /* background-position: center; */
        object-fit: cover;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;



     }
     .section .h1 {
        color: white;
     }
     .section .first-rightdiv {
        display: none;
     }
     .home-design, .first-h1, .icon {
        text-align: center;
         /* border: 3px solid tomato; */
     }

     .home-design h6 {
        text-align: center;
        padding-top: 30px;
        padding-bottom: 5px;
        display: flex;
        justify-content: center;
     }
     .section .first-icon {
      border: 2px solid white;
      color: white;



        overflow: hidden;
     }

     .first-h1 .h1 {
      /* padding-top: 10px; */
      margin: 0 auto;
      width: 100%;
      /* border: 3px solid black; */
      text-align: center;
     }
     .b {
        flex-wrap: wrap;
        /* margin-top: 250px;
        overflow: hidden; */
     }
     .section .second-leftdiv, .section .second-rightdiv{
        width: 100%;
         /* border: 3px solid blue; */
        margin: 0;
        padding: 0 5%;

     }
     .b .second-rightdiv {
        padding-top: 0;
     }
     .second-leftdiv .second-h6 {
        margin: 0;
        padding-bottom: 20px;
        /* font-size: 30px; */
     }
     .second-leftdiv .second-h1 {
        /* border: 3px solid black; */
        width: 100%;
        text-align: left;
        margin: 0;


     }
     header .b {
        padding-top: 20px;
        /* border: 3px solid black; */
     }

     .second-rightdiv .abt {
        width: 100%;

     }
     .abt  {
        /* font-size: 20px; */
        padding-top: 20px;

     }
     .abt h5 {
       font-size: 15px;

     }

      .after-footer .insp-icon {
      display: none;
     }
     .after-footer .inspiration {
      display: none;
      margin: 0 auto;

     }
     .after-footer .insp-b {
      display: block;
     }
     .insp-b h1 {
      color: black;
      font-size: 30px;
      padding-bottom: 15px;
     }
      .insp-b h6 {
         font-size: 15px;

     }


}
@media only screen and (max-width: 350px) and (min-width: 100px) {
   .third-leftdiv {
      display: none;
     }
     footer .third-rightdiv {
      flex-wrap: wrap;
      padding: 10px 0 0 0;
      margin: 0 auto;
      width: 100%;
      margin: 0;
      /* display: block; */
     }

     .third-rightdiv button {
      width: 80%;
      /* margin-bottom: 5px; */
      margin: 0 auto;
      text-align: center;
      display: flex;
      justify-content: center;

     }

     .third-rightdiv .dummy {

      /* border: 3px solid blue; */
      /* width: 70%; */
      /* margin: 0 auto; */
      width: 80%;
      display: flex;
      justify-content: center;
      /* border: 3px solid blue; */
      padding-bottom: 10px;

     }
     .dummy .dumm {
      width: 70%;
      /* margin-bottom: 10px; */
     }

     .dummy .dumm:hover{
       margin: 0 auto;
      /* marg; */
      /* text-align: center; */
      width: 100%;
      display: flex;
      justify-content: center;
      background-color: black;
      color: white;
      justify-content: center;
      border: 2px solid transparent;
     }


}
@media only screen and (max-width: 910px) and (min-width: 351px) {
   .third-leftdiv {
      display: none;
     }
     footer .third-rightdiv {
      flex-wrap: wrap;
      padding: 10px 0 0 0;
      margin: 0 auto;
      width: 100%;
      margin: 0;
      /* display: block; */
     }

     .third-rightdiv button {
      width: 300px;
      /* margin-bottom: 5px; */
      margin: 0 auto;
      text-align: center;
      display: flex;
      justify-content: center;

     }

     .third-rightdiv .dummy {

      /* border: 3px solid blue; */
      /* width: 70%; */
      /* margin: 0 auto; */
      width: 700px;
      display: flex;
      justify-content: center;
      /* border: 3px solid blue; */
      padding-bottom: 10px;

     }
     .dummy .dumm {
      width: 250px;
      /* margin-bottom: 10px; */
     }

     .dummy .dumm:hover{
       margin: 0 auto;
      /* marg; */
      /* text-align: center; */
      width: 300px;
      display: flex;
      justify-content: center;
      background-color: black;
      color: white;
      justify-content: center;
      border: 2px solid transparent;
     }

     /* .third-rightdiv input {
      /* padding: 0 5%; */
      /* margin: 0 auto;
      /* border: 3px solid black; */
      /* width: 500px; */
      /* margin-left: 5%; */
      /* margin-bottom: 10px; */


}

@media screen and (min-width: 800px) {
   body {
      max-width: 1500px;
      margin: 0 auto;
   }
   .section .mobile-nav {
      display: none;
  }
  .section .hamburger {
   display: none;
  }
  .section .ham {
   display: none;
  }

}
@media only screen and (max-width: 425px) and (min-width: 50px) {
   .after-footer .footer-img {
      flex-wrap: wrap;
      width: 80%;
      margin: 0;
      display: block;
      overflow: hidden;
      /* text-align: center; */
     }
     .footer-img figure{
      width: 80%;
      flex-wrap: wrap;
      text-align: center;
      display: block;
      margin: 0 auto;
      padding-bottom: 70px;
      flex-direction: column;
     }
     .footer-img img {
      margin-bottom: 20px;
     }
     .footer-img figcaption {
      display: block;
      /* margin-bottom: 50px; */
     }
}
@media only screen and (max-width: 800px) and (min-width: 426px) {

   .after-footer .footer-img {
      /* flex-wrap: wrap; */
      display: flex;
      width: 85%;
      margin: 0 auto;
      justify-content: space-between;
      /* display: flex; */
      /* flex-direction: row; */
      align-items: center;
      flex-wrap: wrap;



       overflow-x: hidden;
      /* text-align: center; */
      /* border: 2px solid red; */
     }
     .footer-img figure{
      width: 40%;
      height: 200px;
      /* border: 3px solid black; */
      flex-wrap: wrap;
      text-align: center;
      display: block;
      margin: 0;
      /* margin-left: 6%; */
      /* margin: 0 auto; */
      padding-bottom: 60px;
      /* flex-direction: column; */
     }
     .footer-img img {
      margin-bottom: 15px;
     }
     .footer-img figcaption {
      display: block;
      /* margin-bottom: 50px; */
     }
}
