* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Merriweather', serif;
    color: #706458;

}
/* header section starts here */
header {
    background-color: #F3EEE8;
    /* padding-bottom: 50px; */
}
.section {
    display: flex;


}
.first-leftdiv nav {
    display: flex;
    justify-content: space-between;
    width: 70%;
    /* border: 3px solid black; */
    height: 50px;
    text-align: center;
    align-items: center;
    margin: 0 auto;
}
.first-leftdiv {
    width: 50%;
    /* border: 3px solid tomato; */
    /* text-align: center; */
    padding-top: 30px;
    padding-bottom: 180px;

}
.first-leftdiv a {
    color: #706458;
    cursor: pointer;
    text-decoration: none;
}
.first-h6 {
    font-size: 30px;
    font-family: 'Inter', sans-serif;
    color:  #A06056;
}
.home-design {
    padding: 50px 0;
    /* border: 3px solid blue; */
    width: 70%;
    margin: 0 auto;
    color:  #A06056;
}
.home-design h6 {


    text-align: left;
    /* border: 3px solid black; */


}
.first-h1 {
    width: 70%;
     /* border: 3px solid green; */
    /* padding: 0 0 20px 0; */
    margin: 0 auto;

}
.first-h1 h1 {
    color: #A06056;
    /* border: 1px solid sienna; */
}
.first-h1 h6 {
    padding: 30px 0;
    /* border: 3px solid red; */
}
.icon {
    margin: 0 auto;
    /* text-align: center; */
    /* padding-left: 15%; */
    border: none;
     width: 70%;

}
.first-icon {

    padding: 5px;
     font-size: 20px;

     border-radius: 50%;
    /* border: 3px solid black; */
     text-align: left;

     /* background-color: #A06056; */
      border: 2px solid #A06056;
     color: #A06056;
     overflow: hidden;
}

.first-rightdiv {
    background-image: url("./header.png");
    /* border: 3px solid black; */
    width: 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
}
.icon2 {
    /* border: 3px solid red; */
    padding: 35px 20px;
    text-align: right;
}
.second-icon {

     font-size: 16px;
     border: 2px solid white;
     border-radius: 50%;
     padding: 10px;
     /* background-color: white; */
     color: white;
}
.second-leftdiv {
    width: 50%;
    /* border: 3px solid black; */
    /* height: 250px; */
    /* padding: 30px 0; */
}
.second-h1 {
    /* border: 3px solid blue; */
    width: 75%;
    padding: 25px 0;
    margin: 0 auto;
}
.second-h6 {
    color: #A06056;
     /* border: 2px solid green; */
    padding-top: 10px;
    width: 75%;
    margin: 0 auto;
}
.ham {
    display: flex;
     position: fixed;
    top: 0;

    width: 100%;
    justify-content: space-between;
    /* border: 3px solid black; */
    width: 100;
    padding: 20px 20px 0 20px;

    /* background: n; */

    /* justify-content: space-between;
    width: 100%;
    /* border: 3px solid black; */
    /* height: 50px; */
     /* text-align: center;
    align-items: center; */
}
.ham h5 {
    color: white;
}
.hamburger {
    display: block;
    position: relative;
    text-align: center;
    width: 30px;
    cursor: pointer;
    appearance: none;
    background: none;
    outline: none;
    border: none;


}

.hamburger .bar, .hamburger::after, .hamburger::before {
    content: "";
    display: block;
    width: 100%;
    height: 5px;
    margin: 0 auto;

    background-color: white;
    margin: 6px 0px;
    transition: 0.4s;
}

 .hamburger.is-active:before {
    transform: rotate(-405deg) translate(-8px, 6px);
    background-color: darkred;

}
.hamburger.is-active .bar {
    opacity: 0;
}
.hamburger.is-active:after {
    transform: rotate(405deg) translate(-8px, -8px);
    background-color: darkred;

}
.mobile-nav {
    padding-top: 25px;
    display: block;
    position: fixed;
      margin-top: 60px;
      /* color: white; */
     /* margin-left: 50%; */

    top: 5px;
    left: 100%;
    width: 100%;
    /* height: 100%; */
    min-height: 100vh;
    background-color: black;
     z-index: 98;
    /* background-color: tomato; */

    text-align: right;
    /* /* padding-top: 150p */
}
.mobile-nav.is-active {
    left: 0;
    transition: 1s;
}
.mobile-nav a {
    display: block;
    text-align: center;
    width: 100%;
    background-color: grey;
    /* width: fit-content; */
    margin: 0 auto 16px;
    max-width: 200px;
    padding: 12px 16px;
   /* background-color: black; */
   border: 3px solid gray;
   color: white;
   text-decoration: none;
   /* width: fit-content; */
   /* color: tomato; */
   transition: 0.4s;
}
.mobile-nav a:hover {
    background-color: tomato;
}
.second-rightdiv {
    width: 50%;
    display: flex;
    flex-wrap: wrap;


      padding-left: 30px;
}
.b {
    padding: 50px 0;
}
.abt {
    width: 45%;
    /* display: flex; */
    padding-right: 10px;
    /* height: 100px; */
    margin-bottom: 20px;

     /* border: 3px solid tomato; */
}
.abt h5 {
    /* font-size: 9px; */
    padding-top: 10px;
}
.abt h4 {
    color: #A06056;
}
/* header section ends here  */
/* footer section starts here */
footer {
    display: flex;
    flex-wrap: wrap;
    /* border: 3px solid black; */
    /* height: 200px; */
    padding: 40px 0 40px 0;

}
.third-leftdiv {
    margin: 0 auto;
    /* border: 3px solid tomato; */
    width: 50%;
}
.third-leftdiv h2 {
    color: black;
    font-size: 25px;
}
.h6 {
    color: #A06056;
}
.third-leftdiv h2, .third-leftdiv h6 {
    /* text-align: center; */
    width: 75%;
     padding-bottom: 15px;
    margin: 0% auto;
    /* border: 3px solid blue; */
}
.third-rightdiv {
    /* border: 3px solid green; */
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dummy input{
    padding: 10px 8px;
    width: 200px;
    background-color: #F3EEE8;
    border: 3px solid transparent;
    margin-right: 15px;
    text-align: left;
    transition: all 1.5s ease;
    outline: none;
}
.dummy input:hover {
    width: 300px;
    transition: all 2s ease;
    cursor: text;

}
.third-rightdiv button {
    padding: 10px 20px;
    background-color: #706458;
    color: white;
    border: 3px solid #706458;

}
.third-rightdiv button:hover {
    background-color: gray;
    color: black;
    cursor: grab;
    border: 3px solid transparent;
}
.copy h3 {
    /* color: black; */
    width: 100%;
    text-align: center;
    padding-bottom: 15px;
    margin: 0 auto;
    font-family: 'Inter', sans-serif;
    /* border: 3px solid black; */
}
/* footer section ends here */
