* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Merriweather', serif;
    color: #706458;
    overflow-x: hidden;

}
html {
    scroll-behavior: smooth;
}
/* header section starts here */
header {
    background-color: #F3EEE8;
    /* padding-bottom: 50px; */
}
.section {
    display: flex;


}
.first-leftdiv nav {
    display: flex;
    justify-content: space-between;
    width: 70%;
    /* border: 3px solid black; */
    height: 50px;
    text-align: center;
    align-items: center;
    margin: 0 auto;
}
.first-leftdiv {
    width: 50%;
    /* border: 3px solid tomato; */
    /* text-align: center; */
    padding-top: 30px;
    padding-bottom: 180px;

}
.first-leftdiv a {
    color: #706458;
    cursor: pointer;
    text-decoration: none;
}
.first-h6 {
    font-size: 30px;
    font-family: 'Inter', sans-serif;
    color:  #A06056;
}
.home-design {
    padding: 50px 0;
    /* border: 3px solid blue; */
    width: 70%;
    margin: 0 auto;
    color:  #A06056;
}
.home-design h6 {


    text-align: left;
    /* border: 3px solid black; */


}
.first-h1 {
    width: 70%;
     /* border: 3px solid green; */
    /* padding: 0 0 20px 0; */
    margin: 0 auto;

}
.first-h1 h1 {
    color: #A06056;
    /* border: 1px solid sienna; */
}
.first-h1 h6 {
    padding: 30px 0;
    /* border: 3px solid red; */
}
.icon {
    margin: 0 auto;
    /* text-align: center; */
    /* padding-left: 15%; */
    border: none;
     width: 70%;

}
.first-icon {

    padding: 5px;
     font-size: 20px;

     border-radius: 50%;
    /* border: 3px solid black; */
     text-align: left;

     /* background-color: #A06056; */
      border: 2px solid #A06056;
     color: #A06056;
     overflow: hidden;
}

.first-rightdiv {
    background-image: url("./header.png");
    /* border: 3px solid black; */
    width: 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
}
.icon2 {
    /* border: 3px solid red; */
    padding: 35px 20px;
    text-align: right;
}
.second-icon {

     font-size: 16px;
     border: 2px solid white;
     border-radius: 50%;
     padding: 10px;
     /* background-color: white; */
     color: white;
}
.second-leftdiv {
    width: 50%;
    /* border: 3px solid black; */
    /* height: 250px; */
    /* padding: 30px 0; */
}
.second-h1 {
    /* border: 3px solid blue; */
    width: 75%;
    padding: 25px 0;
    margin: 0 auto;
}
.second-h6 {
    color: #A06056;
     /* border: 2px solid green; */
    padding-top: 10px;
    width: 75%;
    margin: 0 auto;
}
.ham {
    display: flex;
    /* position: fixed;
    top: 0; */

     /* width: 100%; */
    justify-content: space-between;
    /* border: 3px solid black; */
    /* width: 100; */
    padding: 0px 20px 0 20px;

    /* background: n; */

    /* justify-content: space-between;
    width: 100%;
    /* border: 3px solid black; */
    /* height: 50px; */
     /* text-align: center;
    align-items: center; */
}
.ham h5 {
    color: white;
    /* border: 3px solid black; */
}
.hamburger {
    display: block;
    position: relative;
    text-align: center;
    width: 25px;
    cursor: pointer;
    appearance: none;
    background: none;
    outline: none;
    padding-top: 6px;
    border: none;
    /* border: 3px solid black; */


}

.hamburger .bar, .hamburger::before {
    content: "";
    display: block;
    width: 100%;
    height: 5px;
    margin: 0 auto;
    border-radius: 10px;

    background-color: white;
    margin: 6px 0px;
    transition: 0.4s;
    backdrop-filter: blur(2px);
}
.hamburger::after {
    content: "";
    display: block;
    opacity: 0;
    width: 100%;
    height: 5px;
    margin: 0 auto;

    background-color: white;
    margin: 6px 0px;
    transition: 0.4s;
}

 .hamburger.is-active:before {
    transform: rotate(-405deg) translate(-11px, 3px);
    /* background-color: darkred; */

}
.hamburger.is-active .bar {
    transform: rotate(405deg) translate(-5px, 4px);
    /* background-color: darkred; */

}
.hamburger.is-active:after {

    opacity: 0;

}
.mobile-nav {
    /* padding-top: 25px; */
    display: none;
    /* position: fixed; */
      /* margin-top: 60px; */
      /* color: white; */
     /* margin-left: 50%; */

    top: 5px;
    left: 100%;
    width: 100%;
    transition: 2s;
    /* height: 100%; */
    /* min-height: 100vh; */
    /* border: 3px solid black; */
    background-color: transparent;
     z-index: 98;
    /* background-color: tomato; */

    text-align: right;
    /* /* padding-top: 150p */
}
.mobile-nav.is-active {
    left: 0;
    transition: 2s;
    display: block;
    /* backdrop-filter: blur(0px); */
}
.mobile-nav h6 {
    display: block;
    text-align: left;
    font-size: 15px;
    width: 100%;
    background-color: #D9D9D9;
    /* width: fit-content; */
    /* margin: 0 auto 16px; */
    /* max-width: 200px; */
    padding: 15px 20px;
   /* background-color: black; */
   /* border: 3px solid gray; */
   color: #706458;
   text-decoration: none;
   transition: 0.5s;
   /* width: fit-content; */
   /* color: tomato; */
    /* transition: 2s; */
}

.mobile-nav h6:hover {
    background-color: transparent;
    color: white;
    border: 3px solid transparent;
    cursor: pointer;
}
.second-rightdiv {
    width: 50%;
    display: flex;
    flex-wrap: wrap;


      padding-left: 30px;
}
.b {
    padding: 50px 0;
}
.abt {
    width: 45%;
    /* display: flex; */
    padding-right: 10px;
    /* height: 100px; */
    margin-bottom: 20px;

     /* border: 3px solid tomato; */
}
.abt h5 {
    /* font-size: 9px; */
    padding-top: 10px;
}
.abt h4 {
    color: #A06056;
}
/* header section ends here  */
/* footer section starts here */
footer {
    display: flex;
    flex-wrap: wrap;
    /* border: 3px solid black; */
    /* height: 200px; */
    padding: 40px 0 40px 0;

}
.third-leftdiv {
    margin: 0 auto;
    /* border: 3px solid tomato; */
    width: 50%;
}
.third-leftdiv h2 {
    color: black;
    font-size: 25px;
}
.h6 {
    color: #A06056;
}
.third-leftdiv h2, .third-leftdiv h6 {
    /* text-align: center; */
    width: 75%;
     padding-bottom: 15px;
    margin: 0% auto;
    /* border: 3px solid blue; */
}
.third-rightdiv {
    /* border: 3px solid green; */
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dummy input{
    padding: 10px 8px;
    width: 200px;
    background-color: #F3EEE8;
    border: 3px solid transparent;
    margin-right: 15px;
    text-align: left;
    transition: all 1.5s ease;
    outline: none;
}
.dummy input:hover {
    width: 300px;
    background-color: black;
    color: white;
    transition: all 2s ease;
    cursor: text;

}

.third-rightdiv button {
    padding: 10px 20px;
    background-color: #706458;
    color: white;
    border: 3px solid #706458;

}
.third-rightdiv button:hover {
    background-color: #706458;
    color: black;
    cursor: grab;
    transition: 1s;
    border: 3px solid #706458;
}
.copy h3 {
    /* color: black; */
    width: 100%;
    text-align: center;
    padding-bottom: 15px;
    margin: 0 auto;
    font-family: 'Inter', sans-serif;
    /* border: 3px solid black; */
}
/* footer section ends here */
.up {
    border: 2px solid black;
    color: black;
    border-radius: 50%;
    /* padding: 3px; */
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    /* animation: ripple 2s infinite; */
    font-size: 20px;
    position: fixed;
    cursor: pointer;
    bottom: 100px;
    left: 85%;

    /* -webkit-backdrop-filter: blur(100px); */
}
.up a {
    color: black;
}
.up:hover {
    animation: ripple 2s infinite;

}
.after-footer {
    padding-bottom: 100px;
}
.footer-img {
    /* border: 3px solid black; */
    margin-left: 6%;
    /* flex-wrap: nowrap; */
    display: inline-block;
    /* flex-wrap: wrap; */
    /* flex-direction: row; */
      /* overflow: scroll; */
     overflow-y: hidden;
     overflow-x: scroll;
     /* flex-direction: column-reverse; */
     width: 100%;
     white-space: nowrap;
         position: relative;
     /* -webkit-overflow-scrolling: touch; */
    justify-content: space-between;
}
img {

    height: 100%;
    object-fit: cover;
    width: 100%;
    /* float: none;
    object-fit: cover;
    /* height: 300px; */
    /* display: inline-block;
    zoom: 1;
    margin: 0 0.25%;
    flex-direction: row; */
    /* overflow: scroll; */
}
figcaption {

    /* border: 3px solid blue; */
    text-align: center;
    color: black;
    font-family: 'Inter', sans-serif;
    display: none;
}
figure {
    width: 300px;
    float: none;
    object-fit: cover;
    height: 270px;
    display: inline-block;
    zoom: 1;
    margin-right: 180px;


    /* margin-bottom: 20px; */
    /* overflow: scroll; */
}
/* .fig {
    margin-right: 180px;
}
.last-fig {
    margin-right: 30px;
} */
.inspiration {
    display: flex;
    width: 83%;
    /* margin: 0 auto; */
    margin-left: 6%;
    /* border: 3px solid black; */
     padding: 50px 0;
    justify-content: space-between;
    overflow: hidden;
}
.insp-b {
    display: none;
}
/* .inspiration h1 {

} */
.inspiration h6 {
    /* font-size: 10px; */
    /* font-family: 'Inter', sans-serif; */
    font-weight: 900;
    /* color:  #706458; */
}
.insp-icon i {
    border-radius: 50%;
    border: 2px solid #A06056;
    padding: 8px;
    margin-right: 10px;
    color: #A06056;
}
